@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Dynamics Entities</h1>

    <p><a href="/entity/account">Account</a></p>
<<<<<<< HEAD
    <p><a href="/entity/competitor">Competitor</a></p>
=======
    <p><a href="/entity/contact">Contact</a></p>
>>>>>>> 93a8c12c585afbe0f0448ad8a17c61f7ec78d7fc

</div>
