@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Dynamics Entities</h1>
    
    <p><a href="/entity/account">Account</a></p>
<<<<<<< HEAD
<<<<<<< HEAD
    <p><a href="/entity/competitor">Competitor</a></p>
=======
=======
    <p><a href="/entity/lead">Lead</a></p>
>>>>>>> 8d14efe97f85cef2f7cbc55909ff7f76e1585122
    <p><a href="/entity/contact">Contact</a></p>
<<<<<<< HEAD
>>>>>>> 93a8c12c585afbe0f0448ad8a17c61f7ec78d7fc
=======
    <p><a href="/entity/opportunity">Opportunity</a></p>
>>>>>>> e6d9f0f9b5988efbdf9307a59f7592e135f56cba

		<p><a href="/entity/users">User</a></p>

</div>
