@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Dynamics Entities</h1>
    
    <p><a href="/entity/account">Account</a></p>
    <p><a href="/entity/contact">Contact</a></p>
    <p><a href="/entity/opportunity">Opportunity</a></p>

</div>
