@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Campaign (ID @ViewBag.Campaign["campaignid"])</h1>

    <p><b>Name: </b> @ViewBag.Campaign["name"]</p>
    <p><b>Email Address: </b> @ViewBag.Campaign["emailaddress"]</p>
    <p><b>Offer: </b> @ViewBag.Campaign["objective"]</p>

</div>
