@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1 class="display-4">Competitor (ID @ViewBag.Competitor["competitorid"]</h1>

    <p><b>Name: </b> @ViewBag.Competitor["name"]</p>
    <p><b>Website URL: </b> @ViewBag.Competitor["websiteurl"]</p>
    <p><b>Ticker Symbol: </b> @ViewBag.Competitor["tickersymbol"]</p>
</div>